<configuration>
    <property name="log_home" value="/tmp" />
    <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                >%d{ISO8601} | %-5p | %file | %line | %m%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_home}/application.log</file>
        <encoder>
            <pattern>>>%d{ISO8601} | %-5p | %file | %line | %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${log_home}/archived/application.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="application-info" level="ERROR" >
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.hibernate.SQL" level="ERROR" >
        <appender-ref ref="FILE" />
    </logger>
    <logger name="org.springframework" level="ERROR">
        <appender-ref ref="FILE" />
    </logger>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>